extends layout

block append head
  script(src='/javascripts/log4javascript.js')
  script(src='/javascripts/Parser1p2.js')
  script(src='/javascripts/Rte1p2Api.js')
  script(src='/javascripts/RteApiSite.js')
  script(src='/javascripts/typevalidators1p2.js')
  script(src='/javascripts/stringfunctions.js')
  script(src='/javascripts/cookies.js')

block content

    if scormList
      .row
        ul
        each scorm in scormList
          li 
            a(href=scorm.wrapperurl) #{scorm.title} (Uploaded: #{scorm.created})
            |  
            a(href=scorm.wrapperdeleteurl) DELETE
        else
          li There are no scorm items.
    else
      .row
        #myLogger
        script.
          var response = !{JSON.stringify(responsedata).replace(/<\//g, "<\\/")}
        script(src="/javascripts/wrapper-client.js")